/* Utility */

/* General settings */
body {
    font-family: 'Roboto', sans-serif;
}

.main_page {
    height: calc( 100vh - 80px );
}

/* header */
header{
    height: 80px;
    padding: 20px;
}



/* Main Page */
nav {
    background-color: #10243a;
    height: 100%;
    color: #fff;
    padding: 20px;
}

/* action page */
#jumbo {
    height: 200px;
    background-color: #356ee7;
    color: #fff;
}

main {
    height: calc( 100% - 200px );
}

















/* Debug */
[class*="col"] {
    border: 2px dotted #000;
}

.item-debug {
    background-color: pink;
    min-height: 50px;
}

header {
    background-color: aquamarine;
}

main {
    border: 1px dashed yellowgreen;
}
