/* Utility */
.label {
    display: inline-block;
    color: #fff;
    background-color: #2958b9;
    border-radius: 5px;
    font-size: 12px;
    padding: 0 10px;
    margin-left: 5px;
}

.done {
    background-color: #1d8653;
}

.failed {
    background-color: #d83946;
}

.progress {
    background-color: #fbc115;
}
.extended {
    display: none;
}

/* General settings */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.main_page {
    height: calc( 100vh - 80px );
}

#scroll  {
    height: calc( 100vh - 80px );
    overflow: auto;
}

img {
    width: 100%;
}

/* header */
header{
    background-color: #f8f9fa;
    height: 80px;
    padding: 0 20px;
}

img {
    width: 100%;
    max-height: fit-content;
}

.icons {
    display: flex;
    justify-content: space-around;
    color: #5b5858;
    font-size: 18px;
}


.fa-bell  {
    color: #fc9213;
}
/* Search from Bootstrap */
.input-group-text, .form-control {
    background-color: #e5e5e5;
    border: none;
}

.form-control::placeholder {
    opacity: 0.5;
    font-weight: 500;
}


/* Main Page */
aside {
    background-color: #081c33;
    background-image: url(../img/sidebar-bg.png);
    height: 100%;
    color: #fff;
    padding: 20px 0;
}

aside a  {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 8px;
}

a:hover {
    background-color: #ccc;
}
aside span {
    display: none;
    margin-left: 8px;
}

/* JUMBO */
#jumbo {
    background-color: #356ee7;
    color: #fff;
    padding: 20px 10px;
}

/* New Stutent block */
#jumbo button {
    margin-left: 20px;
}

/* Boolean block */

#jumbo .label {
    font-size: 15px;
    border-radius: 20px;

}

#jumbo h2 {
    display: inline-block;
}
/* MAIN */
main {
    background-color: #f8f9fa;
    font-size: 14px;
}

/* Build a Block for main */
.title_block {
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
}

.text_block {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.block {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.graphic_block {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.graphic_block div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.graphic_block div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.graphic_block>div {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    padding: 7px 10px;
}

table img {
    width: 22px;
}

/* FAQ */
.question{
    padding: 10px;
    border-bottom: 1px solid #d8d8d8;
}

/* Debug */
[class*="col"] {
    border: 2px dotted #000;
}

.item-debug {
    background-color: pink;
    min-height: 50px;
}

header {
    /* background-color: aquamarine; */
}

main {
    border: 1px dashed yellowgreen;
}
