/* Utility */

/* General settings */
body {
    font-family: 'Roboto', sans-serif;
}

.main_page {
    height: calc( 100vh - 80px );
}

/* header */
header{
    background-color: #fff;
    height: 80px;
    padding: 0 20px;
}

#logo_big{
    display: none;
}

#logo_little img {
    width: 100%;
    max-height: fit-content;
}
/* Search from Bootstrap */
.input-group-text, .form-control {
    background-color: #e5e5e5;
    border: none;
}

.form-control::placeholder {
    opacity: 0.5;
    font-weight: 500;
}

#multi_icons {
    display: none;
}

.fa-bell  {
    color: #fc9213;
}
/* Main Page */
nav {
    background-color: #081c33;
    background-image: url(../img/sidebar-bg.png);
    height: 100%;
    color: #fff;
    padding: 20px;
}

/* action page */
#jumbo {
    height: 200px;
    background-color: #356ee7;
    color: #fff;
}

main {
    height: calc( 100% - 200px );
}

















/* Debug */
[class*="col"] {
    border: 2px dotted #000;
}

.item-debug {
    background-color: pink;
    min-height: 50px;
}

header {
    /* background-color: aquamarine; */
}

main {
    border: 1px dashed yellowgreen;
}
